@import "bourbon";
@import "vars.scss";

@media (max-width: 490px){

    footer{
        text-align: left;
        .right, .left{
            float: none;
        }
        .tl, .tr{
            text-align: center;
        }
        .politics{
            text-align: center;
            float: none;
            a + a{
                margin-left: 0;
            }
            a{
                display: block;
            }

        }
        .logo-gs{
            margin-top: 5px;
            display: block;
            float:none;
            text-align: center;
        }
    }

    div[id*="modal_politics"]{
        h2, h4{
            font-size: 16px !important;
            margin-bottom: 0 !important;
        }
        .md-content{
            max-height: 450px;
            height: 80%;
        }
    }
    div[id*="modal"]{
        h2{
            font-size: 30px;
        }
        .field{
            margin-top: 5px;
            margin-bottom: 0;
            width: 100%;
                input{
                width: 100%;
            }
        }
        .btn{
            margin-top: 5px;
            margin-bottom: 0;
            width: 100%;
        }
    }
    #modal_callback_ok{
        width: 90%;
          .md-content{
            .top{
              font-size: 22px;
              letter-spacing: 0.01em;
            }
        }
    }
}


@media (min-width: 491px) and (max-width: 760px){
    footer{
        text-align: center;
        .right, .left{
            float: none;
        }
        .tl, .tr{
            text-align: center;
        }
         .logo-gs{
            float: none;
            margin-top: 5px;
         }
        .politics{
            float: none;
            a+a{margin-left: 0;}
        }
        img[alt="GeniusStudio"]{
            margin-top: 20px;
        }
    }

    div[id*="modal_politics"]{
        h2, h4{
            font-size: 18px;
            margin-bottom: 0 !important;
        }
    }
    div[id*="modal"]{
        h2{
            font-size: 22px;
            line-height: 34px;
            margin-bottom: 0px;
        }
        .field{
            width: 100%;
            margin-top: 5px;
            margin-bottom: 0;
                input{
                width: 100%;
            }
        }
        .btn{
            width: 100%;
            margin-top: 15px;
        }
    }
}

@media (min-width: 761px) and (max-width: 980px){
    h2{
        font-size: 46px;
    }
    #sec_02{
        .grid_5, .grid_3, .grid_4{
            width: 220px;
            padding-left: 0;
        }
        .bold_text{
            margin: 22px 0 28px 0px !important;
            br{display: none;}
        }
    }
    #sec_03{
        padding: 80px 0;
        h3{margin-top: 50px;}
        .desctop{
            display: none;
        }
        .mobile{
            display: block;
            text-align: center;
            img{
                margin: 10px;
                max-width: 85px;
            }
        }
    }
    #sec_03_5{
        .margined_text{margin-left: 0;}
        .sec_img{
            width: 100%;
            margin-top: 150px;
        }
        .img_block{
            max-width: initial;
            img{
                margin: 0 auto 40px;
            }
        }
        .text_block{
            width: 100%;
            display: block;
            max-width: 520px;
            margin: 0 auto;
            h3{
                br{display: none}
            }
            .item{
                // display: inline-block;
                vertical-align: top;
                width: 250px;
                float: left;
            }
            .item+.item{
                float: right;
                margin-left: 20px;
                margin-right: -40px;
                margin-top: 0;
            }
        }
    }
    #sec_04{
        [class*='sec_img']{width: 100%}
        .explanation{
            margin-left: 0;
        }
        .pos:before{
            width: 280px;
            left: 0;
            top: -90px;
        }
        .item_4{
            .number{margin-top: 0;}
        }
    }
    #sec_06{
        .item_06{
            max-width: 340px;
            img{width: 100%;}
            .title, .text{margin-left: 0;}
        }
    }
    #sec_07{
        padding: 130px 0;
        h2{margin-left: 0;}
        .sec_img-1, .sec_img-2{width: 135px;}
        [class*='item_07']{
            br{display: none}
        }
        .item_07-1 .sec_img-3{
            width: 100%;
            margin-left: 0;
        }
        .item_07-2{
            margin-top: -40px;
        }
        .item_07-3{
            margin-bottom: 0;
            .sec_img-5{margin-bottom: 40px;}
        }
        .item_07-5{
            margin-top: 25px;
            margin-bottom: 90px;
            img{
                width: 80%;
                max-width: 400px;
                margin-left: 30px;
            }
        }
        .big_sertif{
            margin-top: -40px;
        }
        .small_sertif{
            margin-top: 105px;
            .slide_number{
                margin-bottom: 70px;
            }
        }
        .slick-dots {
            top: -35px;
            left: 50%;
            width: 100%;
            margin-left: -80px;
        }
        .sec_img-4{width: 100%;}
    }
    #sec_08{
        .calculator-right{
            max-width: 330px;
        }
        .calculator-left{
            width: 320px;
        }
        .calculator-group_label {
            padding-right: 60px;
            .numb-reg{
                margin-right: -60px;
                margin-top: -16px;
            }
            .small_reg{
                margin-top: 0;
            }
        }
        .calculator-right_group + .calculator-right_group {
            margin-top: 10px;
        }
    }
    #sec_09{
        padding: 80px 0;
        img{width: 100%;}
    }
    footer{
        text-align: center;
        .right, .left{
            float: none;
        }
        .tl, .tr{
            text-align: center;
        }
         .logo-gs{
            float: none;
            margin-top: 5px;
         }
        .politics{
            float: none;
        }
        img[alt="GeniusStudio"]{
            margin-top: 20px;
        }
    }
    // section{
    //     overflow: hidden;
    // }
}

@media (min-width: 981px) and (max-width: 1200px){
    #sec_11 form:before{
        left: -165px;
    }
}
