@import "bourbon";



$main_text_color: #7b7b7b;
$main_color : #b39c72;
$second_color: #ffec3d;


$main_font: 'Gilroy-Light', Roboto,  sans-serif;
$bold_font: 'Gilroy-Bold', Roboto,  sans-serif;


$gray: #666869;
$black: #28292d;
$gold: #b39c72;
