@import "bourbon";
@import "vars.scss";

*{box-sizing: border-box;}

html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}


body.unscroll{
    overflow: hidden;
}

.mobile{display: none}

.container_12 {
    max-width: 960px;
    margin: 0 auto;

}

a, button, img, input {
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    }

button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
    outline: none;
}



button, button:hover,
a, a:hover{
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after,
.container_12:before,
.container_12:after {
  content: '.';
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.clearfix:after,
.container_12:after {
  clear: both;
}

 .left{float:left;}
 .right{float:right;}

.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      align-items: center;
  -webkit-box-pack: center;
      justify-content: center;
}

.bar-long {
  height: 5px;
  width: 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background: $main_color;
}


.md-modal.md-show{
    opacity: 1;
  }
.md-modal{
    opacity: 0;
  }

/* SCROLL BAR STYLES*/
::-webkit-scrollbar {
    width: 10px;
}
 /* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,  0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $main_color;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $main_color;
}

/* BUTTON scrollUP SYLES*/

#scrollup {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 30px;
    transform: rotate(180deg);
    display: none;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
    font-size: 40px;
    text-shadow: -2px 2px 5px rgba(0,0,0, 0.3);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    svg{
      fill: #848484;
      transition: all 0.5s;
    }
}

#scrollup:hover{
  svg{fill: $main_color;}
}

.hidden{
    height: 0;
    width: 0;
}

body{
  background: #fff;
  font: 16px/21px $main_font;
  color: $gray;
}

h2{
  color: $black;
  font: 60px $bold_font;
  line-height: 60px;
  text-transform: uppercase;
}

h3{
  font: 30px/36px $bold_font;
  text-transform: uppercase;
}

.title{
  color: $black;
  font: 24px $bold_font;
  letter-spacing: .05em;
}

.beforeh2{
  color: $gold;
  font: 14px $bold_font;
  letter-spacing: .2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

input:invalid{
  outline: none !important;
  box-shadow: none !important;
}


.input {
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: inline-block;
  max-width: 350px;
  width: 100%;
  height: 60px;
  vertical-align: top;
}


.input__field {
  position: relative;
  outline: none !important;
  display: block;
  height: 50px;
  width: 340px;
  border: none !important;
  border-radius: 0;
  color: #28292d;
  -webkit-appearance: none;

  margin-top: 10px;
  padding: 10px 10px 0px;
  width: 100%;
  background: transparent;
  color: #595F6E;
  font-size: 19px;
}

.input__field:focus {
  outline: none;
}

.input__label {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: left;
  pointer-events: none;
  float: right;
  color: $gray;
   font: 16px $main_font;
   line-height: 32px;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;



}

.input__label-content {
  position: absolute;
  display: block;
  padding: 10px 0;
  width: 100%;
}



.input__label::before,
.input__label::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ebeef0;
}

.input__label::after {
  margin-top: 2px;
  border-bottom: 2px solid $gold;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}



.input__field:focus + .input__label::after,
.input--filled .input__label::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label-content {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}




input::-webkit-input-placeholder{
  color: $gray;
  font: 16px $main_font;
  line-height: 36px;

}
input:-moz-placeholder{
  color: $gray;
  font: 16px $main_font;
  line-height: 36px;

}
input::-moz-placeholder{
  color: $gray;
  font: 16px $main_font;
  line-height: 36px;

}
input:-ms-input-placeholder{
  color: $gray;
  font: 16px $main_font;
  line-height: 36px;

}

.btn_callback{
  position: relative;
  width: 170px;
  height: 40px;
  color: #fff;
  letter-spacing: .05em;
  font: 16px $bold_font;
  text-align: center;
}

.btn_callback:hover{
  background-color: $gold;
}

.btn_callback:before{
  position: absolute;
  content: '';
  width: 170px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: url(../img/btn_callback.png) center no-repeat;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.btn_callback:hover:before{
  opacity: 0;
}

.btn_callback:active{
  border: 2px solid #8e8e8e;
  background-color: #957f57;
  color: #5c4b2c;
}

.btn_callback:active:before{
  display: none;
}


.btn_more{
  position: relative;
  width: 200px;
  height: 50px;

  color: #fff;
  font: 14px $bold_font;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;

  box-shadow: 0 0 33.6px 1.4px rgba(231, 202, 151, 0.55),
  0 0 33.6px 1.4px rgba(231, 202, 151, 0.55) inset;
}

.btn_more:hover, .btn:hover{
  background-color: #1c54e9;
  box-shadow: 0 0 33.6px 1.4px rgba(28, 84, 233, 0.8);
}

.btn_more:before{
  position: absolute;
  content: '';
  width: 200px;
  height: 50px;
  left: 0px;
  top: 0px;
  background: url(../img/btn-bg.png) center no-repeat;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.btn_more:hover:before{
  opacity: 0;
}

.btn_more:active, .btn:active{
  background-color: #143a9e;
  color: #081a4a;
}

.btn_more:active:before{
  display: none;
}


.btn{
  max-width: 340px;
  width: 100%;
  height: 50px;
  background-color: #28292d;
  border-radius: 2px;

  color: #fff;
  font: 14px $bold_font;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;

  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

/*  CONTENT*/

#sec_01{
  padding: 40px 0 35px;
  color: #fff;
  text-align: center;
  background: url(../img/sec_01-bg.jpg) top center no-repeat;
  position: relative;
  .top{
    .logo{
      float: left;
      margin: -35px 0 0 -20px;
      svg{
        width: 110px;
        fill: #fff;
      }
    }
    .btn_callback{
      float: right;
    }
    .btn_callback_mobile{
      display: none;
    }
  }
  .beforeheader{
    /* margin-top: 215px;*/
    color: $gold;
    font: 14px $bold_font;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
  h1{
    font: 110px/110px $bold_font;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 10px 0;
  }
  .afterheader{
    font: 24px $bold_font;
    letter-spacing: .05em;
    margin: 10px 0 65px;
  }
  .btn_more{
    margin: 0 auto;
  }
  .btndwn{
    margin: 0 auto;
    margin-top: 170px;
    -webkit-animation: arrowDown 2s ease infinite;
            animation: arrowDown 2s ease infinite;
  }
  .main_block{
    margin-top: 160px;
  }
}

.line{
  height: 2px;
  background: $black;
}


@media (max-width: 760px){
  #sec_03_5, #sec_04, #sec_09, #sec_10, #sec_11, #sec_12, {
    display: none;
  }
  #sec_01{
    padding: 40px 0 35px;
    background-size: cover;
    background-image: url(../img/sec_01-bg-761.jpg);
    .top{
      .btn_callback{
        display: none;
      }
      .btn_callback_mobile{
        display: block;
        width: 50px;
        color: #fff;
        float: right;
        margin: -10px 10px 0 0;
        font-size: 40px;
      }
    }
    .main_block{
      margin-top: 60px;
    }
    h1{
      font-size: 80px;
      line-height: 90px; 
    }
    .afterheader span {
      display: block;
    }
    .btndwn{
      margin-top: 40px;
    }
  }
  .mobile{display: block;}
  .destop{display: none;}
}

@media (max-width: 500px){
  #sec_01{
    padding-top: 25px;
    h1{
      font-size: 60px;
      line-height: 66px;
    }
    .afterheader {
      font-size: 18px;
      margin-bottom: 50px;
      span {
            display: inline;
          }
    }
    .main_block{
      margin-top: 30px;
    }
    .beforeheader{
      font-size: 16px;
    }
  }
}


@media (min-width: 761px) and (max-width: 980px){
  #sec_01{
    background-image: url(../img/sec_01-bg-761.jpg);
    .main_block{
      margin-top: 80px;
    }
    h1{
      font-size: 80px;
      line-height: 90px; 
    }
    .afterheader span {
      display: block;
    }
    .btndwn{
      margin-top: 80px;
    }
  }
}